
IDI_ICON1               ICON                    "kisspng-square-angle-text-brand-terminal-5ab09bfaa5b5e5.9398888915215237066788.ico"
IDI_UPDATE               ICON                    "icons8-update-80.ico"
